html
{
    /*background-color: #f3f3f3;*/
    background-color: #000000;
}

.form-labels-on-top {
    box-sizing: border-box;
    max-width: 475px;
    margin: 0 auto;
    padding: 55px; /*background-color:  #ffffff;*/
    background-color: #000000;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: bold 14px sans-serif;
    text-align: center;
}

.form-labels-on-top .form-row{
    text-align: center;
    max-width: 315px;
    margin: 25px auto 0;
}

.form-labels-on-top .form-row-two{
    text-align: center;
    max-width: 315px;
    margin: 25px auto 0;
}

.form-labels-on-top .form-title-row{
    margin: 0 auto 40px;
}

.form-labels-on-top h1{
    display: inline-block;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 24px;   
    padding:10px 10px 10px 10px;
    margin: 0;
}

.form-labels-on-top .form-row > label span{
    display: block;
    box-sizing: border-box;
    color:  #FFFFFF;
    /*width: 200px;*/
    padding: 0 0 12px;
}

.form-labels-on-top input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 242px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.form-labels-on-top .form-row-two input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 15px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    text-align: center ;
}

/*.form-labels-on-top input[name="mobilenum"]
{
    color: #5f5f5f;
    box-sizing: border-box;
    width: 242px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top input[type=radio],
.form-labels-on-top input[type=checkbox]{
    box-shadow: none;
    width: auto;
}*/

.form-labels-on-top select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 6px 12px;
    border: 1px solid #dbdbdb;
}

/*.form-labels-on-top .form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-labels-on-top .form-radio-buttons label span{
    margin-left: 8px;
    color:  #5f5f5f;
    font-weight: normal;
}

.form-labels-on-top .form-radio-buttons input{
    width: auto;
}

.form-labels-on-top button{
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin-top: 15px;
}*/

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

/*@media (max-width: 600px) {

    .form-labels-on-top{
        padding: 30px;
    }

    .form-labels-on-top input{
        width: 240px;
          
    }

}*/